/.idea
/src
/tasks
/test
/typings
/scratch
/benchmarks
/optimiser

/tsd.json
/tslint.json
/Vagrantfile
/Gruntfile.js

.npmignore
.gitignore
.gitmodules

.travis.yml
.jshintrc
.vagrant
.editorconfig

/tscommand*
.tscache
tmp/

/lib/helper.js
/lib/original.js

/*.tgz
/*.txt
